.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.pokemon-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid pink; */
}
.controls button{
    padding:0.5rem 1rem;
    margin-left: 1rem;

}